Backup_2025-09-21/ALL_Workflow_Save_in_Github.json
{
  "createdAt": "2025-09-21T17:56:08.489Z",
  "updatedAt": "2025-09-21T18:21:07.618Z",
  "id": "tP4knCod0mxVBnGW",
  "name": "ALL_Workflow_Save_in_Github",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d78c3a0a-863d-4f66-a848-fb47f6c8cced",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        256
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e57f4558-899d-401b-baf8-031cf1a8dac3",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ea4e40c-8207-4867-a94e-1cd16861ba15",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        176
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "mfahadjbr",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-All-WorkFlow-Backup",
          "mode": "list",
          "cachedResultName": "N8N-All-WorkFlow-Backup",
          "cachedResultUrl": "https://github.com/mfahadjbr/N8N-All-WorkFlow-Backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "68da737a-2b9a-4ee8-bfdf-dda2584a6b37",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        384,
        256
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "TyYAAD3fNz5DZqQR",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=mfahadjbr",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-All-WorkFlow-Backup",
          "mode": "list",
          "cachedResultName": "N8N-All-WorkFlow-Backup",
          "cachedResultUrl": "https://github.com/mfahadjbr/N8N-All-WorkFlow-Backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for backup folder"
      },
      "id": "27afd690-06d6-4ee4-abc9-68c2af91ebbc",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -64,
        -16
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "credentials": {
        "githubApi": {
          "id": "TyYAAD3fNz5DZqQR",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        160,
        176
      ],
      "id": "9fee3829-ac59-4a38-89ab-82f68240519e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yJNck8mKDFKMEJiWNuZg5WLykpQwHd0Q2aD4xGjEERU",
          "mode": "list",
          "cachedResultName": "n8n-backup-for-github",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yJNck8mKDFKMEJiWNuZg5WLykpQwHd0Q2aD4xGjEERU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yJNck8mKDFKMEJiWNuZg5WLykpQwHd0Q2aD4xGjEERU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
            "Error Message": "={{ $json.error }}",
            "DateTime": "={{$now.setZone('Asia/Karachi').format('yyyy-MM-dd T')}}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        608,
        320
      ],
      "id": "8ce94f90-d187-4494-80fd-0feb290b9e00",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "sHAshWLSqDBtt7SS",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -512,
        256
      ],
      "id": "a33d78f5-97ea-47e8-844e-e9ebfc2b76f8",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "zEmYxhcJkgIUorRv",
          "name": "n8n account_api"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        256
      ],
      "id": "dc218cf1-b6ca-498a-a6df-ef9a4b4863da",
      "name": "Daily Trigger1"
    }
  ],
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger1": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b30040bd-3617-4ae3-8f2b-d8cdae363cf2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-21T17:56:08.489Z",
      "updatedAt": "2025-09-21T17:56:08.489Z",
      "role": "workflow:owner",
      "workflowId": "tP4knCod0mxVBnGW",
      "projectId": "X5HfRiTZREe3eBAa"
    }
  ],
  "tags": []
}