Backup_2025-09-21/Instagram_Automation.json
{
  "createdAt": "2025-09-21T18:00:31.764Z",
  "updatedAt": "2025-09-21T18:03:59.269Z",
  "id": "K3S2XFb4MWJUcTWe",
  "name": "Instagram_Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        128
      ],
      "id": "346b8790-ff46-4cae-aa97-478745858c58",
      "name": "Container HTTP Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.video_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "cover_url",
              "value": "={{ $json.cover_image }}"
            },
            {
              "name": "audio_name",
              "value": "Monody (feat. Laura Brehm)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1392
      ],
      "id": "64a7d0ae-0372-48e8-a058-2f7b8576d76e",
      "name": "Container HTTP Reels"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "image_url",
                "value": "={{ $json.image_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        880,
        336
      ],
      "id": "85f60551-1bc3-47dd-a50b-2fc4b2cf4a74",
      "name": "Container FB Image"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "image_url",
                "value": "={{ $json.image_url }}"
              },
              {
                "name": "media_type",
                "value": "STORIES"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        880,
        736
      ],
      "id": "8bcc47e4-c1a3-4bfa-9481-622b20bd21a7",
      "name": "Container FB Story Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=STORIES"
            },
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        576
      ],
      "id": "a16be51b-e389-4af9-aa30-cfb34fe88bed",
      "name": "Container HTTP Story Image"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "video_url",
                "value": "={{ $json.video_url }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "cover_url",
                "value": "={{ $json.cover_image }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        880,
        1536
      ],
      "id": "7ff3f15a-73c7-4723-b8ca-ce0fd2ad1d3d",
      "name": "Container FB Reels"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=STORIES"
            },
            {
              "name": "video_url",
              "value": "={{ $json.video_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        976
      ],
      "id": "41301c41-4594-458e-ae17-9d282e194314",
      "name": "Container HTTP Story Video"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $json.video_url }}"
              },
              {
                "name": "media_type",
                "value": "STORIES"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        880,
        1136
      ],
      "id": "dc78f39e-bd8a-4b54-a1c9-e74add6a0417",
      "name": "Container FB Story Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        1776
      ],
      "id": "bfcafb1c-0911-483c-bd7b-18bc7aaa4393",
      "name": "Container Carousel Image 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "=https://4.img-dpreview.com/files/p/TC190x190S190x190~sample_galleries/0890568360/4504013564.jpg"
            },
            {
              "name": "caption",
              "value": "={{ $('🔀 Smart Content Router').item.json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1776
      ],
      "id": "a553bd54-ce5f-4f91-8b38-3fbcd67f9dbc",
      "name": "Container Carousel Image 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "children",
              "value": "={{ $('Container Carousel Image 1').item.json.id }}, {{ $json.id }}"
            },
            {
              "name": "caption",
              "value": "={{ $('🔀 Smart Content Router').item.json.caption }}"
            },
            {
              "name": "media_type",
              "value": "CAROUSEL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1776
      ],
      "id": "de90340d-e2b2-4fca-b910-4b8c91be7225",
      "name": "Container HTTP Carousel"
    },
    {
      "parameters": {
        "content": "## 📸 Image Post Creation",
        "height": 420,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        64
      ],
      "id": "1f6b5857-d459-48fe-9e4a-de582b6e75e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📱 Story Image Upload",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        512
      ],
      "id": "519ed311-3c61-4ca5-a312-adad1cd70e09",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🎬 Story Video Upload",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        912
      ],
      "id": "2f4bd21d-c6c5-4ba3-8be5-7f22d556a1de",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🎵 Instagram Reels Upload",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        1312
      ],
      "id": "d71ce973-34c7-4dac-bcec-4e5a9c13408e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🖼️ Carousel Post (Multiple Images)",
        "height": 220,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        1712
      ],
      "id": "86dcf116-f3ed-4240-b783-2facedec1f15",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Variable and Routing Setup",
        "height": 640,
        "width": 840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        656
      ],
      "id": "dfc1312c-2065-4b6f-ac55-c2328c267ce0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 🔄 Container Processing Pipeline\n1. **Create Container** → After Getting Container ID\n2. **Wait & Poll** → Check if container processing is complete  \n3. **Status Check** → Verify FINISHED status before publishing\n4. **Auto-Retry** → If not ready, wait and check again",
        "height": 540,
        "width": 1140,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        736
      ],
      "id": "8aebbb58-f3df-4ee1-9361-a2da64d9d3d2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 📤 Smart Publishing System\nRoute automatically selected based on post_type prefix:\n- http_* → Uses HTTP Request nodes\n- fb_* → Uses Facebook Graph API nodes",
        "height": 540,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2592,
        736
      ],
      "id": "ac5a424e-e413-41d4-84a9-962358179686",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        848
      ],
      "id": "188922b5-8a2b-4048-95f6-9a4573723acb",
      "name": "✅ Is Container Ready?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da6bcb63-632a-443a-b5b3-a8b6e1c62871",
              "leftValue": "={{ $('🔀 Smart Content Router').item.json.post_type.split(\"_\")[0] }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        928
      ],
      "id": "bb0f9d71-a41c-4fec-bf7d-107d21bf20e6",
      "name": "🔀 HTTP vs FB API Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        832
      ],
      "id": "46f50a7b-25ea-4b52-b886-3efdaaca6691",
      "name": "📤 Publish via HTTP API"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v22.0",
        "node": "={{ $('🔀 Smart Content Router').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2864,
        1040
      ],
      "id": "baf80729-209f-4d05-adda-d96bcee38ce8",
      "name": "📤 Publish via Facebook SDK"
    },
    {
      "parameters": {
        "unit": "=seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        928
      ],
      "id": "0c6bded7-a5b9-4a5f-a3ae-0208be04e932",
      "name": "⏰ Initial Processing Wait",
      "webhookId": "443f84eb-1e9d-4c77-9a9a-c70290333dca"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        1040
      ],
      "id": "6aa2a88f-702d-47ee-8f18-721e0438c71b",
      "name": "⏰ Retry Wait Loop",
      "webhookId": "e9ac0c1d-b415-4160-a6b1-908d2310cb23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f96da8-a8b6-417b-b5cf-7a4df5b4610c",
              "name": "container_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        928
      ],
      "id": "e8cc7a07-f8bd-463c-9564-c440ef072d16",
      "name": "🔍 Check Processing Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab388a77-1660-4a64-ba58-bc405444dbd5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be8816f5-ae68-48c3-869e-bc67078298d8",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "663bacc8-ceeb-4f81-b058-c379eaf6e717",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_story_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Story Img"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99441a51-906e-469a-b98e-64aa43c996ba",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_story_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Story Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29cfc5f8-e1ae-4c10-8961-2356d7c13195",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_story_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP = Story Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "578f5df3-23ef-4ef3-9a48-7528c826ea46",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_story_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Story Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf34e931-f798-4c70-af29-9aec7aab8f6c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02944863-db4b-445f-9c03-382abd9525b9",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Carousel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a17aaa0-8520-442f-9c3f-b4112339a08c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Carousel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        800
      ],
      "id": "05cc91bc-f0d1-4400-b675-66b3df9656ce",
      "name": "🔀 Smart Content Router"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        928
      ],
      "id": "7a4b1fa9-a20e-4743-9e49-c338ca2372e7",
      "name": "🚀 Manual Trigger - Start Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
              "name": "node",
              "value": "17841475983476631",
              "type": "string"
            },
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "http_image",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5a",
              "name": "image_url",
              "value": "https://i.ibb.co/NgxGsg46/data.png",
              "type": "string"
            },
            {
              "id": "6e2c9c54-ce2c-4ea5-8bb2-ae2ae4712427",
              "name": "caption",
              "value": "Automated Post\nOnce upon a time, a young coder discovered a hidden AI that could write magical code. Every message it sent unlocked new adventures, guiding the coder closer to building something extraordinary.",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://api.andynocode.com/api/function/video-generation/preview?id=daaa3161-5b77-4388-be9d-d12bc3823aff",
              "type": "string"
            },
            {
              "id": "c6485101-488b-43db-8708-1a1136292956",
              "name": "cover_image",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        928
      ],
      "id": "635a425c-adea-477f-b3a7-b87be89ef48e",
      "name": "⚙️ Configure Post Settings"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔍 Check Processing Status').item.json.container_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        928
      ],
      "id": "d685a400-3828-4b19-84ed-de43270d7adc",
      "name": "🔍 Check Processing Status1"
    },
    {
      "parameters": {
        "content": "## 👨‍💻 Creator Information\n\n**Created by:** Lakshit Ukani  \n🔗 **LinkedIn:** [Connect with me](https://www.linkedin.com/in/lakshit-ukani/)\n🔗 **Youtube:** [Subscribe to my Channel](https://www.youtube.com/@lakshit-ukani?sub_confirmation=1)\n\n### 🤝 Community & Support\n💬 **Join Community:** [Skool Community Link](https://www.skool.com/ai-automation-club-7843)   \n📚 **Documentation:** [Full Guide & FAQ](https://developers.facebook.com/docs/instagram-platform/instagram-graph-api/reference/ig-user/media#creating)  \n\n### 📞 Need Help?\n- **Quick Questions:** Comment on the YouTube video\n- **Workflow Issues:** Post in our community  \n- **Business Inquiries:** Connect via LinkedIn",
        "height": 380,
        "width": 460,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        48
      ],
      "id": "0b5c7a9f-22f0-496c-bc35-78eabb264f18",
      "name": "Sticky Note8"
    }
  ],
  "connections": {
    "Container HTTP Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Reels": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Story Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Story Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Reels": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Story Video": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Story Video": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container Carousel Image 1": {
      "main": [
        [
          {
            "node": "Container Carousel Image 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container Carousel Image 2": {
      "main": [
        [
          {
            "node": "Container HTTP Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Carousel": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Is Container Ready?": {
      "main": [
        [
          {
            "node": "🔀 HTTP vs FB API Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 HTTP vs FB API Router": {
      "main": [
        [
          {
            "node": "📤 Publish via HTTP API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Publish via Facebook SDK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Initial Processing Wait": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Smart Content Router": {
      "main": [
        [
          {
            "node": "Container HTTP Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container HTTP Story Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Story Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container HTTP Story Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Story Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container HTTP Reels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Reels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container Carousel Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Manual Trigger - Start Workflow": {
      "main": [
        [
          {
            "node": "⚙️ Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Configure Post Settings": {
      "main": [
        [
          {
            "node": "🔀 Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status1": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6282d0c5-d7e5-407d-9c39-a8d51be061d1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-21T18:00:31.764Z",
      "updatedAt": "2025-09-21T18:00:31.764Z",
      "role": "workflow:owner",
      "workflowId": "K3S2XFb4MWJUcTWe",
      "projectId": "X5HfRiTZREe3eBAa"
    }
  ],
  "tags": []
}